// Colors

$ui-primary: hsla(0, 0%, 100%, .76);
$ui-secondary: #949393;
$ui-background: #2c2b42;
$ui-background-light: #2c2b42;
$ui-border: #5f5e60;

$ui-error: #a94442;
$ui-error-bg: #a94442;
$ui-error-border: #a94442;

$ui-caution: #8a6d3b;
$ui-caution-bg: #fcf8e3;
$ui-caution-border: #faebcc;

$ui-info: #31708f;
$ui-info-bg: #f2dede;
$ui-info-border: #ebccd1;

$button-primary: #538bcb;
$bg-dark: rgba(0, 0, 0, .4);
$input-bg: rgba(29, 28, 31, .5);

// Alerts and form errors

.alert {
  border: 1px solid transparent;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 15px;

  p {
    margin-bottom: 0;
  }
}

.alert-info {
  background-color: $ui-info-bg;
  border-color: $ui-info-border;
  color: $ui-info;
}

.alert-warning {
  background-color: $ui-caution-bg;
  border-color: $ui-caution-border;
  color: $ui-caution;
}

.alert-danger {
  background-color: $ui-info-bg;
  border-color: $ui-info-border;
  color: $ui-error;
}

.alert:empty {
  display: none;
}

.invalid-feedback {
  color: $ui-error;
  display: block;
  margin: -1rem 0 2rem;
}

// Fonts

// noto-sans-regular - latin
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('/fonts/noto-sans-v12-latin-regular.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
       url('/fonts/noto-sans-v12-latin-regular.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// noto-sans-italic - latin
@font-face {
  font-family: 'Noto Sans';
  font-style: italic;
  font-weight: 400;
  src: local(''),
       url('/fonts/noto-sans-v12-latin-italic.woff2') format('woff2'), // Chrome 26+, Opera 23+, Firefox 39+
       url('/fonts/noto-sans-v12-latin-italic.woff') format('woff'); // Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+
}

// Base styles
body {
  background-color: $ui-background;
  background-image: url('/images/polygons.jpg');
  background-repeat: no-repeat;
  background-size: auto;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;

  @media only screen and (min-aspect-ratio: "5/4") {
    // See app.js for JS that modifies bg size and position dynamically based on
    // orientation and aspect ratio.
    background-position: unset;
    background-size: cover;
  }
}

header {
  background: none;
  border: 0;
}

// Pages
.auth-container {
  align-items: flex-start;
  display: flex;
  flex: 1 0 auto;
  justify-content: center;
  margin: 32px;
}

.login-logo-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 32px 48px 0 0;
  padding-top: 15px;

  img {
    width: 280px;
  }
}

.login-form-container {
  color: $ui-primary;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin-top: 25px;

  h1 {
    font-size: 23px;
    font-weight: 100;
    height: 32px;
  }

  .signup-link {
    color: $ui-secondary;
    text-decoration: none;

    img {
      margin-left: 2px;
      vertical-align: bottom;
      width: 20px;
    }
  }

  form {
    align-items: center;
    box-sizing: border-box;
    display: block;
    flex-direction: row;
    justify-content: flex-start;
    margin: 25px 0;
    position: relative;
    width: 300px;
  }

  input {
    background-color: $input-bg;
    border: 1px solid transparent;
    border-radius: 4px;
    color: $ui-primary;
    display: block;
    font-size: 15px;
    height: 36px;
    margin: 10px 0;
    padding: 2px 10px;
    width: 100%;
  }

  button {
    align-items: center;
    background-color: $button-primary;
    border: 0;
    border-radius: 4px;
    box-sizing: border-box;
    color: $ui-primary;
    cursor: pointer;
    display: inline-flex;
    font-family: NotoSans,Lucida Grande,Lucida Sans Unicode,sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    height: 2.5rem;
    justify-content: center;
    letter-spacing: normal;
    line-height: normal;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    user-select: none;
    white-space: nowrap;
    width: 320px;
    word-spacing: normal;
  }
}

// Dashboard: Navigation
.dashboard-menu {
  width: 200px;

  a {
    color: $ui-primary;
    text-decoration: none;
  }

  nav {
    align-items: stretch;
    background-repeat: no-repeat;
    box-sizing: border-box;
    height: 100vh;
    left: 0;
    padding-bottom: 8px;
    position: fixed;
    top: 0;
    transform: translateX(0);
    width: 160px;
    z-index: 100;

    ul {
      list-style-type: none;
      padding-inline-start: 20px;
    }

    li {
      margin: 0;
      padding: 0;
    }

    .dashboard-menu-logo-container {
      margin: 25px auto;
      width: 100px;
    }
  }
}

.dashboard-main {
  background: $bg-dark;
  box-shadow: inset 0 1px 0 hsla(0, 0%, 100%, .05), 0 1px 0 1px rgba(0, 0, 0, .3);
  color: $ui-primary;
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-left: 160px;
  max-width: 100%;
  min-height: 100vh;
  width: 100%;

  pre {
    overflow-wrap: wrap;
    width: 400px;
  }

  h1 {
    color: $ui-primary;
    margin: 0 20px;
    padding: 10px 0;
  }

  .ticker-selector {
    align-items: stretch;
    background: transparent;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 10px;
    padding: 0;
    width: 200px;

    .ticker-input {
      background: transparent;
      border: 0;
      color: $ui-primary;
      font-size: 20px;
      height: 16px;
      margin: 0;
      min-width: 100%;
      outline: none;
      padding: 5px 0;
    }
  }

  .chart-type-select {
    border: 0;
    display: flex;
    margin: 0;
    padding: 0;
  }

  .ticker-select-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
}

.btn {
  background-color: transparent;
  border: 1px solid $ui-border;
  color: $ui-primary;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0 10px;
  text-align: right;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  vertical-align: middle;
}

.btn-check {
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
  position: absolute;
}

.chart-tile {
  border: 1px solid $ui-border;
  color: $ui-primary;
  height: 350px;
  margin: 10px;
  padding: 0;
  width: 500px;

  h2 {
    margin: 5px 10px;
    padding: 0;
  }

  figure {
    background: $ui-primary;
    margin: 0;
    padding: 0;
  }
}

.grid {
  align-items: start-item;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 1600px;
}

@media only screen and (min-width: 375px) and (orientation: portrait) {
  .auth-container {
    display: contents;
    margin: 0;
    max-height: 810px;
    max-width: 350px;
    overflow: hidden;
    padding: 0;
  }

  .login-logo-container {
    margin: 30px 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
  }

  .login-form-container {
    margin: 30px 0;
    padding: 0;
    text-align: center;

    .signup-link-container {
      margin: 0;
    }

    h1 {
      font-size: 23px;
      font-weight: 100;
      height: 15px;
      text-align: center;
    }

    form {
      margin: 30px auto;
      padding: 0;
      text-align: center;
    }

    input {
      margin: 5px 0;
      width: 95%;
    }

    button {
      margin: 5px 0;
      max-width: 100%;
    }
  }
}
